/* Effective stylesheet produced by snapshot save */
@media screen {
  .mediafile { background: url("urn:not-loaded:file:///wiki/lib/images/fileicons/file.png") no-repeat scroll 0px 1px transparent; padding-left: 18px; padding-bottom: 1px; }
  .mf_gz { background-image: url("urn:download-error:file:///wiki/lib/images/fileicons/gz.png"); }
}
@media screen {
  .JSpopup, #link__wiz { position: absolute; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); z-index: 20; overflow: hidden; }
  input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
  div.dokuwiki .pagequery td:nth-last-child(1) { border-width: 0px; }
  div.dokuwiki .pagequery li:nth-child(1) { border: 0px none; }
  #mediamanager__page .filelist .rows li:nth-child(2n+1) { background-color: rgb(255, 255, 255); }
  .dokuwiki span.curid a { font-weight: bold; }
  .dokuwiki a.urlextern, .dokuwiki a.windows, .dokuwiki a.mail, .dokuwiki a.mediafile, .dokuwiki a.interwiki { background-repeat: no-repeat; background-position: 0px center; padding: 0px 0px 0px 18px; }
  .dokuwiki a.urlextern { background-image: url("urn:not-loaded:file:///wiki/lib/tpl/monobook/static/3rd/dokuwiki/external-link.png"); }
  .dokuwiki div.toc, #dw__toc { float: right; margin: 0px 0px 1.4em 1.4em; width: 12em; background-color: rgb(222, 231, 236); color: inherit; }
  .dokuwiki div.tocheader, #dw__toc h3 { padding: 0.2em 0.5em; font-weight: bold; margin-bottom: 0px; font-size: 1em; }
  .dokuwiki .toc span.toc_open, .dokuwiki .toc span.toc_close, #dw__toc h3 strong { float: right; margin: 0px 0.2em; line-height: 1; }
  .dokuwiki #toc__inside, #dw__toc > div { padding: 0.2em 0.5em; }
  .dokuwiki #toc__inside ul, #dw__toc ul { padding: 0px; margin: 0px; }
  .dokuwiki #toc__inside ul li, #dw__toc ul li { list-style: none outside none; padding: 0px; margin: 0px; line-height: 1.1; }
  .dokuwiki #toc__inside ul li div.li, #dw__toc ul li div.li { padding: 0.15em 0px; }
  .dokuwiki #toc__inside ul ul, #dw__toc ul ul { padding-left: 1em; }
  .dokuwiki form { border: medium none; display: inline; }
  #column-content { width: 100%; float: right; margin: 0px 0px 0.6em -12.2em; padding: 0px; }
  #content { margin: 2.8em 0px 0px 12.2em; padding: 0px 1em 1.5em; background: none repeat scroll 0% 0% white; color: black; border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(170, 170, 170) -moz-use-text-color rgb(170, 170, 170) rgb(170, 170, 170); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; line-height: 1.5em; position: relative; z-index: 2; }
  #column-one { padding-top: 160px; }
  body { font: x-small sans-serif; background: url("urn:download-error:file:///wiki/lib/tpl/monobook/static/3rd/monobook/headbg.jpg") no-repeat scroll 0px 0px rgb(249, 249, 249); color: black; margin: 0px; padding: 0px; }
  #globalWrapper { font-size: 127%; width: 100%; margin: 0px; padding: 0px; }
  .visualClear { clear: both; }
  a { text-decoration: none; color: rgb(0, 43, 184); background: none no-repeat scroll 0% 0% transparent; }
  a:visited { color: rgb(90, 54, 150); }
  a:active { color: rgb(250, 167, 0); }
  a:hover { text-decoration: underline; }
  img { border: medium none; vertical-align: middle; }
  p { margin: 0.4em 0px 0.5em; line-height: 1.5em; }
  h1, h2, h3, h4, h5, h6 { color: black; background: none repeat scroll 0% 0% transparent; font-weight: normal; margin: 0px; padding-top: 0.5em; padding-bottom: 0.17em; border-bottom: 1px solid rgb(170, 170, 170); }
  h1 { font-size: 188%; }
  h2 { font-size: 150%; }
  h3, h4, h5, h6 { border-bottom: medium none; font-weight: bold; }
  h3 { font-size: 132%; }
  h5 { font-size: 100%; }
  ul { line-height: 1.5em; list-style-type: square; margin: 0.3em 0px 0px 1.5em; padding: 0px; list-style-image: url("urn:download-error:file:///wiki/lib/tpl/monobook/static/3rd/monobook/bullet.gif"); }
  li { margin-bottom: 0.1em; }
  form { border: medium none; margin: 0px; }
  abbr, acronym, .explain { border-bottom: 1px dotted black; color: black; background: none repeat scroll 0% 0% transparent; cursor: help; }
  code { background-color: rgb(249, 249, 249); }
  pre { padding: 1em; border: 1px dashed rgb(47, 111, 171); color: black; background-color: rgb(249, 249, 249); line-height: 1.1em; }
  #bodyContent h1, #bodyContent h2 { margin-bottom: 0.6em; }
  #bodyContent h3, #bodyContent h4, #bodyContent h5 { margin-bottom: 0.3em; }
  .portlet { border: medium none; margin: 0px 0px 0.5em; padding: 0px; float: none; width: 11.6em; overflow: hidden; }
  .portlet h5 { background: none repeat scroll 0% 0% transparent; padding: 0px 1em 0px 0.5em; display: inline; height: 1em; text-transform: lowercase; font-size: 91%; font-weight: normal; white-space: nowrap; }
  .pBody { font-size: 95%; background-color: white; color: black; border-collapse: collapse; border: 1px solid rgb(170, 170, 170); padding: 0px 0.8em 0.3em 0.5em; }
  .portlet ul { line-height: 1.5em; list-style-type: square; list-style-image: url("urn:download-error:file:///wiki/lib/tpl/monobook/static/3rd/monobook/bullet.gif"); font-size: 95%; }
  .portlet li { padding: 0px; margin: 0px; }
  #p-logo { z-index: 3; position: absolute; top: 0px; left: 0px; height: 155px; width: 12em; overflow: visible; }
  #p-logo a, #p-logo a:hover { display: block; height: 155px; width: 12.2em; background-repeat: no-repeat; background-position: 35% 50% ! important; text-decoration: none; }
  #p-search { position: relative; z-index: 3; }
  input.searchButton { margin-top: 1px; font-size: 95%; }
  #searchGoButton { padding-left: 0.5em; padding-right: 0.5em; font-weight: bold; }
  #p-search .pBody { padding: 0.5em 0.4em 0.4em; text-align: center; }
  #p-personal { width: 100%; white-space: nowrap; padding: 0px; margin: 0px; position: absolute; left: 0px; top: 0px; z-index: 0; border: medium none; background: none repeat scroll 0% 0% transparent; overflow: visible; line-height: 1.2em; }
  #p-personal .portlet, #p-personal .pBody { padding: 0px; margin: 0px; border: medium none; z-index: 0; overflow: visible; background: none repeat scroll 0% 0% transparent; }
  #p-personal ul { border: medium none; line-height: 1.4em; color: rgb(47, 111, 171); padding: 0px 2em 0px 3em; margin: 0px; text-align: right; text-transform: lowercase; list-style: none outside none; z-index: 0; background: none repeat scroll 0% 0% transparent; cursor: default; }
  #p-personal li { z-index: 0; border: medium none; padding: 0px; display: inline; color: rgb(47, 111, 171); margin-left: 1em; line-height: 1.2em; background: none repeat scroll 0% 0% transparent; }
  #p-personal li a { text-decoration: none; color: rgb(0, 88, 150); padding-bottom: 0.2em; background: none repeat scroll 0% 0% transparent; }
  #p-personal li a:hover { background-color: white; padding-bottom: 0.2em; text-decoration: none; }
  li#pt-userpage, li#pt-anonuserpage, li#pt-login { background: url("urn:download-error:file:///wiki/lib/tpl/monobook/static/3rd/monobook/user.gif") no-repeat scroll left top transparent; padding-left: 20px; text-transform: none; }
  #p-cactions { position: absolute; top: 1.3em; left: 11.5em; margin: 0px; white-space: nowrap; width: 76%; line-height: 1.1em; overflow: visible; background: none repeat scroll 0% 0% transparent; border-collapse: collapse; padding-left: 1em; list-style: none outside none; font-size: 95%; font-weight: normal; }
  #p-cactions ul { list-style: none outside none; }
  #p-cactions li { display: inline; border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(170, 170, 170) rgb(170, 170, 170) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px 0px 0.1em; margin: 0px 0.3em 0px 0px; overflow: visible; background: none repeat scroll 0% 0% white; }
  #p-cactions li a { background-color: rgb(251, 251, 251); color: rgb(0, 43, 184); border: medium none; padding: 0px 0.8em 0.3em; text-decoration: none; text-transform: lowercase; position: relative; z-index: 0; margin: 0px; }
  #p-cactions li a:hover { z-index: 3; text-decoration: none; background-color: rgb(255, 255, 255); }
  li#ca-talk { margin-right: 1.6em; }
  #footer { background-color: white; border-top: 1px solid rgb(250, 189, 35); border-bottom: 1px solid rgb(250, 189, 35); margin: 0.6em 0px 1em; padding: 0.4em 0px 1.2em; text-align: center; font-size: 90%; }
  #footer li { display: inline; margin: 0px 1.3em; }
  head:first-child + body #footer li { white-space: nowrap; }
  .toggle { margin-left: 2em; text-indent: -2em; }
  html { background-color: rgb(249, 249, 249); color: rgb(0, 0, 0); margin: 0px; padding: 0px; overflow: auto; }
  pre, code, samp, kbd { font-family: monospace,sans-serif; }
  pre { overflow: auto; }
  img { border-width: 0px; background-color: transparent; }
  form { display: inline; padding: 0px; }
  label { vertical-align: middle; cursor: pointer; }
  input, textarea, button, select, optgroup, option { font-family: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-size: inherit; font-size-adjust: inherit; font-stretch: inherit; -moz-font-feature-settings: inherit; -moz-font-language-override: inherit; color: inherit; line-height: 1; margin: 0px; vertical-align: middle; }
  input[type="text"], input[type="password"], textarea { padding: 0.1em; }
  input[type="submit"], input.button, button { cursor: pointer; }
  p, pre, table, blockquote, fieldset, address { margin: 0px 0px 1.4em; padding: 0px; }
  div { margin: 0px; padding: 0px; }
  li, dd { padding: 0px; margin: 0px 0px 0px 1.5em; }
  li ul, li ol, li dl, dl ul, dl ol, dl dl { margin-bottom: 0px; padding: 0px; }
  li li { font-size: 100%; }
  ul { list-style: square outside none; }
  #p-cactions .selected, #ca-edit { font-weight: bold; }
  #p-cactions .selected, #p-cactions .selected a, #p-cactions .selected span { z-index: 3; }
  .ns-0 #p-cactions .selected, .ns-0 #p-cactions .selected a, .ns-0 #p-cactions .selected span { background-color: rgb(255, 255, 255); }
  .dokuwiki span.curid a { font-weight: normal; }
  .dokuwiki a.wikilink1, .dokuwiki a.wikilink1:visited { color: rgb(0, 43, 184) ! important; }
  a.wikilink2:link, a.wikilink2:visited, a.wikilink2:hover { color: rgb(186, 0, 0) ! important; }
  #p-cactions li a.wikilink2 { color: rgb(186, 0, 0); }
  div.dokuwiki p, div.dokuwiki blockquote, div.dokuwiki table, div.dokuwiki pre { margin: 0px 0px 1em; }
  div.dokuwiki div.license { padding: 0.5em; font-size: 90%; text-align: center; }
  div.dokuwiki a:link, div.dokuwiki a:visited { color: rgb(67, 105, 118); text-decoration: none; }
  div.dokuwiki a:hover, div.dokuwiki a:active { color: rgb(0, 0, 0); text-decoration: underline; }
  div.dokuwiki a.urlextern { background: url("urn:download-error:file:///wiki/lib/tpl/monobook/static/3rd/monobook/external.png") no-repeat scroll right center transparent; padding: 1px 13px 1px 0px; color: rgb(67, 105, 118); text-decoration: none; }
  div.dokuwiki a.urlextern:visited { color: purple; }
  h1, h2, h3, h4, h5, h6 { font-family: sans-serif; background-color: inherit; padding: 0px; clear: left; }
  div#content .dokuwiki h1, div#content .dokuwiki h2, div#content .dokuwiki h3, div#content .dokuwiki h4, div#content .dokuwiki h5, div#content .dokuwiki h6 { border-bottom: 1px solid rgb(170, 170, 170); color: rgb(0, 0, 0); margin: 0px; padding-bottom: 0.17em; padding-top: 0.5em; }
  div#content .dokuwiki h1 { font-size: 160%; }
  div#content .dokuwiki h1, div#content .dokuwiki h2 { margin-bottom: 0.6em; font-weight: normal; }
  div#content .dokuwiki h3, div#content .dokuwiki h4, div#content .dokuwiki h5, div#content .dokuwiki h6 { font-weight: bold; border-bottom: medium none; margin-bottom: 0.3em; }
  div#content .dokuwiki h3 { font-size: 132%; }
  div#content .dokuwiki div.level1, div#content .dokuwiki div.level2, div#content .dokuwiki div.level3, div#content .dokuwiki div.level4, div#content .dokuwiki div.level5 { margin-left: 0px; }
  div.dokuwiki ul { line-height: 1.5em; padding: 0px; list-style-type: square; list-style-image: url("urn:download-error:file:///wiki/lib/tpl/monobook/static/3rd/monobook/bullet.gif") ! important; margin: 0.3em 0px 1em 1.5em; color: rgb(0, 0, 0); }
  div.dokuwiki li ul, div.dokuwiki li ol { margin: 0px 0px 0px 1.5em; }
  div.dokuwiki .li { color: rgb(0, 0, 0); font-weight: normal; }
  div#content div.dokuwiki li { margin-left: 0px; margin-bottom: 1px; }
  div#content .dokuwiki code, div#content .dokuwiki pre, div#content .dokuwiki pre.code, div#content .dokuwiki pre.file, div#content .dokuwiki samp, div#content .dokuwiki kbd, div#content .dokuwiki tt { font-size: 110%; line-height: 1.4em; font-family: monospace; background-color: rgb(249, 249, 249); direction: ltr; text-align: left; }
  div#content .dokuwiki pre, div#content .dokuwiki pre.code, div#content .dokuwiki pre.file { line-height: 1.2em; padding: 0.5em; border-style: dashed; }
  #qsearch__in { width: 10.9em; margin: 0px; font-size: 95%; }
  #qsearch__out { background-color: rgb(249, 249, 249); border: 1px solid rgb(140, 172, 187); display: none; font-size: 80%; line-height: 1.2em; opacity: 0.9; padding: 4px; text-align: left; position: absolute; left: 150px; z-index: 30000; margin-top: -60px; }
  li#ca-talk { margin-right: 1.6em; }
  div#column-one #p-personal.portlet .pBody ul { background: none repeat scroll 0px 0px transparent; line-height: 1.4em ! important; list-style-image: none ! important; list-style-position: outside; list-style-type: none ! important; margin: 0px ! important; padding: 0px 2em 0px 3em ! important; text-align: right; }
  div#column-one .portlet .pBody ul { font-size: 95%; line-height: 1.5em; list-style-image: url("urn:download-error:file:///wiki/lib/tpl/monobook/static/3rd/monobook/bullet.gif"); list-style-type: square; margin: 0.3em 0px 0px 1.5em; padding: 0px; }
  div#column-one .portlet .pBody a { background: none no-repeat scroll 0px 0px transparent; color: rgb(0, 43, 184); text-decoration: none; border-bottom: 0px none ! important; }
  div#column-one .portlet .pBody a:visited { color: rgb(0, 43, 184); }
  div#column-one .portlet .pBody a:hover { text-decoration: underline ! important; }
  div.dokuwiki #dw__toc { margin: 1.2em 0px 0px 2em; float: right; width: 200px; font-size: 90%; clear: both; background-color: rgb(255, 255, 255); }
  div.dokuwiki #dw__toc h3 { border: 1px solid rgb(140, 172, 187) ! important; background-color: rgb(222, 231, 236) ! important; text-align: left; font-weight: bold ! important; padding: 3px ! important; margin-bottom: 2px ! important; line-height: 1.45em; font-size: 90% ! important; text-indent: 0px; }
  div.dokuwiki #dw__toc h3 strong { margin-top: 0.2em; }
  div.dokuwiki #dw__toc h3 ~ div { border: 1px solid rgb(140, 172, 187); padding-left: 10px; }
  div.dokuwiki #dw__toc ul.toc { background-color: transparent ! important; border: 0px none; }
  div.dokuwiki #dw__toc ul.toc li { list-style-image: none; list-style-type: none; background: url("urn:download-error:file:///wiki/lib/tpl/monobook/static/3rd/dokuwiki/tocdot2.gif") no-repeat scroll 0px 0.6em transparent; padding-left: 0.4em ! important; margin-bottom: 0.1em ! important; }
  div#footer li#copyright .license { font-size: 100%; padding: 0px; }
  div#footer li#copyright .license a.urlextern { margin-left: 0.4em; }
  .JSpopup { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); border: 1px solid rgb(140, 172, 187); line-height: 1.2; padding: 0px 0.2em; }
}
@media print {
  div.error, div.info, div.success, div.notify, .secedit, .a11y, .JSpopup, #link__wiz { display: none; }
  .a11y, div.notify, div.info, div.success, div.error, #dokuwiki__header .tools, #dokuwiki__aside, .dokuwiki .breadcrumbs, .dokuwiki .toc, #dw__toc, .dokuwiki .secedit, #dokuwiki__pagetools, #dokuwiki__footer { display: none; }
  .dokuwiki h1, .dokuwiki h2, .dokuwiki h3, .dokuwiki h4, .dokuwiki h5, .dokuwiki caption, .dokuwiki legend { clear: both; }
  .dokuwiki ul { list-style: disc outside none; }
  .dokuwiki a:link, .dokuwiki a:visited { text-decoration: underline; color: rgb(51, 51, 51); background-color: inherit; background-image: none; padding: 0px; }
  a.urlextern:after, a.interwiki:after, a.mail:after { content: " [" attr(href) "]"; font-size: 90%; }
  .dokuwiki pre { font-family: monospace; }
  body { background: none repeat scroll 0% 0% White; color: Black; margin: 0px; padding: 0px; }
  .noprint, div#jump-to-nav, div.top, div#column-one, #colophon, .editsection, .toctoggle, .tochidden, div#f-poweredbyico, div#f-copyrightico, li#viewcount, li#about, li#disclaimer, li#privacy, #mw-hidden-catlinks { display: none; }
  ul { list-style-type: square; }
  #content { background: none repeat scroll 0% 0% transparent; border: medium none ! important; padding: 0px ! important; margin: 0px ! important; }
  #footer { background: none repeat scroll 0% 0% white; color: black; border-top: 1px solid black; }
  h1, h2, h3, h4, h5, h6 { font-weight: bold; }
  p, .documentDescription { margin: 1em 0px ! important; line-height: 1.2em; }
  pre { border: 1pt dashed black; white-space: pre; font-size: 8pt; overflow: auto; padding: 1em 0px; background: none repeat scroll 0% 0% white; color: black; }
  a { color: Black ! important; background: none repeat scroll 0% 0% transparent ! important; padding: 0px ! important; }
  a:link, a:visited { color: rgb(85, 34, 0); background: none repeat scroll 0% 0% transparent; text-decoration: underline; }
  #globalWrapper { width: 100% ! important; min-width: 0px ! important; }
  #content { background: none repeat scroll 0% 0% white; color: black; }
  #column-content { margin: 0px ! important; }
  #column-content #content { padding: 1em; margin: 0px ! important; }
  a, a.external, a.new, a.stub { color: black ! important; text-decoration: none ! important; }
  a, a.external, a.new, a.stub { color: inherit ! important; text-decoration: inherit ! important; }
  img { border: medium none; }
  html { background-color: rgb(255, 255, 255); }
  body { font: 80%/1.4 sans-serif; }
  div#content .dokuwiki h1, div#content .dokuwiki h2, div#content .dokuwiki h3, div#content .dokuwiki h4, div#content .dokuwiki h5, div#content .dokuwiki h6 { border-bottom: 0px none; }
  div#content .dokuwiki h1, div#content .dokuwiki h2 { font-weight: bold; }
  div#content .dokuwiki h1 {  }
  div#content .dokuwiki h2 {  }
  div#content .dokuwiki h3, div#content .dokuwiki h4, div#content .dokuwiki h5, div#content .dokuwiki h6 { font-weight: normal; text-decoration: underline; }
  .noprint { display: none; }
  .toc, #dw__toc { display: none; }
  div#content .dokuwiki code, div#content .dokuwiki pre, div#content .dokuwiki pre.code, div#content .dokuwiki pre.file { font-size: 100%; }
  div#content .dokuwiki pre, div#content .dokuwiki pre.code, div#content .dokuwiki pre.file { line-height: 1.2em; }
}
